<!--
  (click)="isNavbarCollapsed = !isNavbarCollapsed"
  ** It will toggle the collapsed flag value.
-->
<header>
  <nav class="navbar navbar-light position-absolute w-100">
    <div class="container pr-4">
      <a class="navbar-brand text-white" routerLink="">NT<span>.</span></a>
      <ul class="navbar-nav flex-row ml-auto">
        <li class="nav-item">
          <a aria-label="search" class="nav-link text-white" href="#">
            <span class="d-block icon search"></span>
          </a>
        </li>
        <li class="nav-item">
          <button aria-label="Menu" (click)="isNavbarCollapsed = !isNavbarCollapsed" class="text-white text-uppercase btn custom-btn position-relative nav-link">Menu</button>
        </li>
      </ul>
      <div class="collapse navbar-collapse h-100" id="navbarSupportedContent" [class.show]="isNavbarCollapsed">
        <a (click)="isNavbarCollapsed = !isNavbarCollapsed" class="close position-absolute text-white">&times;</a>
        <ul class="navbar-nav position-relative w-100 flex-column text-center ml-auto">
          <li class="nav-item" *ngFor="let menuItem of mainMenuLinks" routerLinkActive="active">
            <a class="nav-link d-block text-decoration-none text-capitalize text-white" [routerLink]="menuItem.path" (click)="isNavbarCollapsed = !isNavbarCollapsed">{{menuItem.title}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>