<section id="homeSection" class="position-relative"
[style.background-image]="'url(' + mainSectionImage + ')'"
>
  <div class="caption position-absolute text-center my-0 mx-auto">
    <h1 class="text-white text-capitalize">night trips</h1>
    <p class="text-white text-uppercase semi-heading">we got trips for the trippster in you</p>
    <p class="text-white bio">Neque, eros commodo, nascetur ullamcorper vitae. Tincidunt ut venenatis, volutpat lorem ut faucibus mauris, quisque. Integer gravida sed quis congue. Vel risus, arcu a viverra leo id pulvinar ultricies. Enim in in in pulvinar nulla sollicitudin. Ullamcorper.</p>
  </div>
  <div id="bottomContainer" class="position-absolute w-100">
    <div class="container h-100">
      <div class="flex-row-wrap m-0 h-100">
        <div class="page-50-percent align-self-start"> 
          <a (click)="scrollToElement()" href="javascript:void(0);" class="d-inline-block text-white text-uppercase text-decoration-none">scroll</a>
        </div>
        <div class="page-50-percent align-self-start text-right pr-0">
        </div>
      </div>
    </div>
  </div>
</section>