<section id="trip-section" #tripSection class="position-relative">
    <div class="container position-relative">
      <div class="d-flex justify-content-start align-items-center pt-0 pb-5 pick-your-trip-section">
        <h1 class="text-white mb-0">Pick your trip</h1>
        <span class="d-block icon close"></span>
        <p class="text-white mb-0">Our team put together some trips to you to discover,<br/>feel free to discover each of them.</p>
      </div>
      <ul id="trip-tabs" class="nav nav-tabs nav-fill m-0">
        <li class="nav-item position-relative" *ngFor="let trip of tripTypes; let tripIndex = index">
          <a class="nav-link border-0 border-0 pb-4" [class.active]="selectedTripTypeIndex == tripIndex" href="javascript:void(0);" (click)="selectedTripTypeIndex = tripIndex">{{trip.title}}</a>
        </li>
      </ul>
    </div>
</section>