/* You can add global styles to this file, and also import other style files */
// VARIABLES
:root {
    --primary-color: #41ead4;
    --secondary-color: #011627;
}
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@font-face {
    font-family: 'Noe-Display-Medium';
    src: url('assets/fonts/Noe-Display-Medium/Noe-Display-Medium.eot');
    src: local('☺'), 
         url('assets/fonts/Noe-Display-Medium/Noe-Display-Medium.woff') format('woff'), 
         url('assets/fonts/Noe-Display-Medium/Noe-Display-Medium.ttf') format('truetype'), 
         url('assets/fonts/Noe-Display-Medium/Noe-Display-Medium.svg') format('svg');
}
@font-face {
    font-family: 'Larsseit';
    src: url('assets/fonts/Larsseit/Larsseit.eot');
    src: local('☺'), 
         url('assets/fonts/Larsseit/Larsseit.woff') format('woff'), 
         url('assets/fonts/Larsseit/Larsseit.ttf') format('truetype'), 
         url('assets/fonts/Larsseit/Larsseit.svg') format('svg');
}
// GENERAL
*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    overflow-x: hidden;
}
body,
html {
    height: 100%;
    font-family: "Larsseit";
}
// COLOR SYSTEM
.text-white {
    color: #fff;
}
// TEXT ALIGNMENT
.text-right{
    text-align: right;
}
.text-center {
    text-align: center;
}
// TEXT TRANSFORM
.text-capitalize {
    text-transform: capitalize;
}
.text-uppercase {
    text-transform: uppercase;
}
// TEXT DECORATION
.text-decoration-none {
    text-decoration: none;
}
// DISPLAY
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
// MARGIN
.m-0 {
    margin: 0;
}
.ml-auto, .mx-auto {
    margin-left: auto;
}
.mr-auto, .mx-auto {
    margin-right: auto;
}
.mt-0, .my-0 {
    margin-top: 0;
}
.mr-0, .mx-0 {
    margin-right: 0;
}
.mb-0, .my-0 {
    margin-bottom: 0;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem;
}
.mt-1, .my-1 {
    margin-top: 0.25rem;
}
// PADDING
.p-0 {
    padding: 0;
}
.pr-4, .px-4 {
    padding-right: 1.5rem;
}
.pb-5, .py-5 {
    padding-bottom: 3rem;
}
.pt-0, .py-0 {
    padding-top: 0;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem;
}
.pl-0, .px-0 {
    padding-left: 0;
}
.pl-2, .px-2 {
    padding-left: 0.5rem;
}
.pt-5, .py-5 {
    padding-top: 3rem;
}
// POSITION
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
// FULL HEIGHT-WIDTH
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}
// JUSTIFY CONTENT
.justify-content-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.justify-content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
// ALIGN SELF
.align-self-start {
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.align-self-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
//ALIGN ITEMS
.align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
// FLEX
.flex-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
}
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
// ELEMENTS
a {
    text-decoration: none;
}
ol{
    margin-top: 0;
}
button{
    cursor: pointer;
    border: 1px solid transparent;
    font-family: inherit;
    -webkit-appearance: button;
    overflow: visible;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Noe-Display-Medium";    
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
}
p {
    margin-top: 0;
}
header, section {
    display: block;
}
// SHARED
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-fill > .nav-link, .nav-fill .nav-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.navbar .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-50-percent {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
}
.flex-row-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.rounded-circle {
    border-radius: 50%;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.custom-btn,
.custom-btn.nav-link{
    background-color: #00c9e0;
    -webkit-box-shadow: 5px 15px 40px rgb(0 201 224 / 20%);
            box-shadow: 5px 15px 40px rgb(0 201 224 / 20%);
    border-radius: 48px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 13px 40px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &::after{
        content: " ";
        width: 20px;
        height: 2px;
        background-color: white;
        position: absolute;
        right: -10px;
        top: 50%;
        opacity: 0.8;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    &:hover{
        margin-left: 10px;
        margin-right: 10px;
        opacity: 0.95;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        &::after{
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }
    }
}
.icon{
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    &.search{
        background-image: url("assets/svg/search.svg");
        margin-top: 7px;
    }
    &.close{
        background-image: url("assets/svg/close.svg");
    }
    &.facebook{
        background-image: url("assets/svg/facebook.svg");
    }
    &.instagram{
        background-image: url("assets/svg/instagram.svg");
    }
    &.twitter{
        background-image: url("assets/svg/twitter.svg");
    }
}
// @Media
// // Medium devices, Small devices and Extra small devices (tablets, landscape phones, portrait phones)
@media (max-width: 991.98px) {
    .page-50-percent {
        width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
    }    
}